---
title: "ValidationResult"
source: "https://help.h3yun.com/contents/532/368.html"
category: "開發者手冊 / 后端API / H3 / ValidationResult"
updated: 2025-12-25
tags:
  - h3yun
  - 開發者手冊
---
类名 : ValidationResult
说明 : 验证是否合法的返回对象，如果合法的话，Valid属性为true，否则为false，并且会在Errors属性中记录错误信息 属性 : 

| 名称 | 说明 |
| --- | --- |
| Valid | 是否合法 |
| Errors | 如果不合法则在这里存储错误信息 |
| Warnings | 警告信息 |



方法名称 : Combine(H3.ValidationResult)

| 参数 | 说明 |
| --- | --- |
| "r" | 要合并的验证信息 |
| 返回值 |  |
| |  |


方法名称 : ToString

| 参数 | 说明 |
| --- | --- |
| |
 |
| 返回值 |  |
| |
 |